@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }

  h1{
    font-size: 35px;
    color: #ecad65;
  }
  body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Colorful\ Alphabet\ Dad\ Joke\ Father\'s\ Day\ Instagram\ Story.png");
    background-size: 105% auto;
  }

.wrapper{
  background-color: rgba(255, 255, 255, 0.3);
  padding: 50px 70px 100px;
  box-shadow: 0 6px 10px  rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  width: 85% ;
  margin: 50px;
  text-align: center;
  overflow: hidden;
}

p{
  font-family: Poppins;
  font-size: 20px;
  margin: 20px 10px;
  position:relative; top:45px;
}

.getjoke{
  padding: 12px 30px;
  font-size: 15px;
  font-family: Poppins;
  background: rgb(240, 162, 84);
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 30px 10px;
  cursor: pointer;
  position:relative; top:40px;
}

.getjoke:hover{
  background-color: #ecd465;
}